.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  padding-top: 72px;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}